
.content{
  font-family: 'Outfit', sans-serif;
  font-weight: 400,700;
   background-color: hsl(219, 59%, 93%);
   display:flex;
   justify-content: center;
   flex-wrap: wrap;
}
.container{
  position: relative;
  display: flex;
  flex-direction: column;
  
}
.code{
  width: 280px;
  border-radius: 6px;
  background-color:hsl(0, 0%, 100%);
  padding: 2px;
  height: 380px;
  margin-top: 100px;
}
.img{
  border-radius: 20px;
  height: 220px;
  width: 260px;
  /* border-width:2px ; */
  padding: 10px;

  
}
.heading{
  font-size: 15px;
  font-weight: 700;
  padding: 5px;
  display: block;
  text-align: center;
}
.text{
  font-size: 15px;
  color: hsl(212, 36%, 44%);
  padding: 5px;
  display: block;
  text-align: center;
}

